{% extends "base.html" %} {% block daniela %}

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="width: 18rem;">
            <img src="http://www.imobiliariafideliza.com.br/imagens/site_modelo/banner_topofull_06.jpg" class="card-img-top" alt="...">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="typo-line">
            <p class="category">VIP Imóveis</p>
            <blockquote>
                <p>
                    Os melhores imóveis do Nordeste, você encontra aqui, com muito conforto e qualidade para você e sua familia.
                </p>
                <small>
                    VIP Imóveis
                </small>
            </blockquote>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.uso.com.br/sites/logos/826/banner-imoveis.jpg" class="card-img-top" alt="...">
        </div>
    </div>
</div>

{% endblock %}